# Exercice1:table de multiplication par 7.

In [1]:
for i in range(1,21):
    print(f"7 X {i} = {7*i}")

7 X 1 = 7

# Exercice2: Euro en Dollar.

In [4]:
# Premier Methode
# for i in range(15):
    # euro = 2**i
    # print(f"{euro} euro(s) =  {euro*1.65:.2f} dollar(s)")

In [2]:
# Deuxieme methode
euro = 1 
while euro <= 16384:
    print(f"{euro} euro(s) = {euro*1.6}")
    euro*=2

1 euro(s) = 1.6
2 euro(s) = 3.2
4 euro(s) = 6.4
8 euro(s) = 12.8
16 euro(s) = 25.6
32 euro(s) = 51.2
64 euro(s) = 102.4
128 euro(s) = 204.8
256 euro(s) = 409.6
512 euro(s) = 819.2
1024 euro(s) = 1638.4
2048 euro(s) = 3276.8
4096 euro(s) = 6553.6
8192 euro(s) = 13107.2
16384 euro(s) = 26214.4

# Exercice3: Le terme.

In [46]:
# terme = 1
# while terme <= 12:
    # print(terme)
    # terme*=3
terme = 1
for i in range(12):
    print(terme)
    terme*=3

1
3
9
27
81
243
729
2187
6561
19683
59049
177147

# Exercice3: Le volume en parallelepipede.

In [14]:
largeur = float(input("entrer la largeur :"))
hauteur = float(input("entrer la hauteur :"))
profondeur = float(input("entrer la profondeur :"))
volume = largeur*hauteur*profondeur
print("Le volume de parallelepipede est :",volume,"m")

entrer la largeur : 6
entrer la hauteur : 5
entrer la profondeur : 8

Le volume de parallelepipede est : 240.0 m

# Exercice5: La conversion.

In [33]:
def conversion_secondes(secondes):
    annees = secondes // (365*24*3600)
    secondes%=365*24*3600
    #Calcul des mois
    mois = secondes //(30*24*3600)
    secondes%=30*24*3600
    #Calcul en jours
    jours = secondes //(24*3600)
    secondes%=24*3600
    #Calcul des heures
    heures = secondes//3600
    secondes%=3600
    #Calcul des minutes
    minutes = secondes//60
    secondes%=60
    return annees,mois,jours,heures,minutes,secondes
secondes = int(input("Entrer le nombre de secondes :"))
annees,mois,jours,heures,minutes,secondes = conversion_secondes(secondes)
print(f"{annees} annees, {mois} mois, {jours} jours, {heures} heures, {minutes} minutes, {secondes} secondes")

Entrer le nombre de secondes : 6789

0 annees, 0 mois, 0 jours, 1 heures, 53 minutes, 9 secondes

# Exercice6: Le multiple par 3.

In [39]:
for i in range(1,21):
    produit = 7*i
    if produit%3==0:
        print(f"{produit}*",end="")
    else:
        print(produit,end="")

71421*283542*495663*707784*9198105*112119126*133140

# Exercice7: le multiple par 7.

In [1]:
for i in range(1,51):
    produit = 13*i
    if produit%7==0:
        print(produit)
for i in range(1,7):
    print("*"*i)

91
182
273
364
455
546
637
*
**
***
****
*****
******

In [47]:
semaine = ["Lundi","Mardi","Mercredi","Jeudi","Vendredi","Samedi","Dimanche"]
print("Le jour de la semaine (boucle for) :")
for jour in semaine:
    print(jour)

Le jour de la semaine (boucle for) :
Lundi
Mardi
Mercredi
Jeudi
Vendredi
Samedi
Dimanche

In [49]:
print("Le jour du week-end (boucle while) :")
sin = 5
while sin < len(semaine):
    print(semaine[sin])
    sin+=1

Le jour du week-end (boucle while) :
Samedi
Dimanche

# Exercice8a: La divisibilite par 5 et 7.

In [52]:
# Deuxieme Methode
nombre = int(input("Entrer le nombre : "))
res = "est" if nombre%5==0 and nombre%7==0 else "n'est pas"
print(nombre,res,"divisible par 5 et 7.")

Entrer le nombre :  35

35 est divisible par 5 et 7.

# Exercice8b: Annee bissextile.

In [8]:
def biss(annee):
    return (annee%4==0 and annee%100!=0) or (annee%400==0)
annee = int(input("Veuillez saisir une annee : "))
if biss(annee):
    print(annee,"est une annee bissextile.")
else:
    print(annee,"n'est pas une annee bissextile.")

Veuillez saisir une annee :  2000

2000 est une annee bissextile.

# Exercice8c:

# Exercice9a: Le nombre premier.

In [2]:
def nbrepremier(nombre):
    if nombre <=1:
        return False
    for i in range(2, int(nombre**0.5) + 1):
        if nombre%i==0:
            return False
    return True
nombre_p = int(input("Veuillez saisir un entier positive :"))
if nbrepremier(nombre_p):
    print("Le nombre",nombre_p,"est premier.")
else:
    print("Le nombre",nombre_p,"n'est pas premier.")

Veuillez saisir un entier positive : 45

Le nombre 45 n'est pas premier.

# Exercice9b: Les notes.

In [1]:
notes = [14,16,12,18,15,13,17,19]
somme_notes = sum(notes)
moyenne = somme_notes/len(notes)
print("les notes sont :",notes)
print("la somme des notes sont :",somme_notes)
print("la moyenne des notes est :",moyenne)

les notes sont : [14, 16, 12, 18, 15, 13, 17, 19]
la somme des notes sont : 124
la moyenne des notes est : 15.5