In [1]:
nom= "Bob"
age = 25
print("Salut, je m'appelle",nom,"et j'ai",age,"ans")#la virgule
print(f"Bonjour, je m'appelle {nom} et j'ai {age} ans. ")#f.string
print("Hello, je m'appelle {} et j'ai {} ans. ".format(nom,age))#str-format

Salut, je m'appelle Bob et j'ai 25 ans
Bonjour, je m'appelle Bob et j'ai 25 ans.
Hello, je m'appelle Bob et j'ai 25 ans.

# Exercice:

In [3]:
age = 20 
nom = "Magassa"
prenom = "Makan"
taille = "1,8m"
poids = "65kg"
print("Bonjour, je m'appelle",nom,prenom,"j'ai",age,"je mesure",taille,"et j'ai",poids)
print(f"Bonjour, je m'appelle {nom} {prenom} , j'ai {age} , le mesure {taille} , et j'ai {poids} ")
print("Bonjour, je m'appelle {} {} , j'ai {} , le mesure {} , et j'ai {} ".format(nom,prenom,age,taille,poids))

Bonjour, je m'appelle Magassa Makan j'ai 20 je mesure 1,8m et j'ai 65kg
Bonjour, je m'appelle Magassa Makan , j'ai 20 , le mesure 1,8m , et j'ai 65kg
Bonjour, je m'appelle Magassa Makan , j'ai 20 , le mesure 1,8m , et j'ai 65kg

# Structure conditionnelle:

In [12]:
x = input("Entrer la valeur de x:")
y = input("Entrer la valeur de y:")
if x<y:
    print(f "{x} est inferieur a {y}")
elif x>y:
    print(f"{x} est superieur a {y}")
else:
    print("les deux sont egaux ")

Entrer la valeur de x: 34
Entrer la valeur de y: 34

les deux sont egaux

# Exercice struct condtlle choix:

In [13]:
r = input("Choix de M.Magassa entre B et A")
if  r=="B":
    print("Le choix est Bamako.")
elif r=="A":
    print("Le choix est Amerique.")
else:
    print("Le est au village.")

Choix de M.Magassa entre B et A A

Le choix est Amerique.

# Exercice struct condtlle nbr paire:

In [17]:
n = int(input("Entrer le nombre au choix : "))
if n%2==0:
    print("Le nbre est paire.")
else:
    print("Le nbre est impaire")

Entrer le nombre au choix  3

Le nbre est impaire

# La boucle while:

#### Ecrire un programme en python qui permet d'afficher hello 1000 fois.

In [6]:
i = 1 
while i < 5:
    print(i,"Hello Makan")
    i+=1

1 Hello Makan
2 Hello Makan
3 Hello Makan
4 Hello Makan

#### Ecrire un programme en python qui demande a l'utilisateur de saisir son nom et prenom en affichant le numero d'iteration.

In [10]:
nom = input("Entrer votre nom et prenom :")
i = 1
while i <=5:
    print(i,nom)
    i =i+1

Entrer votre nom et prenom : Makan Magassa

1 Makan Magassa
2 Makan Magassa
3 Makan Magassa
4 Makan Magassa
5 Makan Magassa

# La boucle for:

In [22]:
#Animaux = ["Giraffe","Tigre","Singe","Souris"]
#for animal in Animaux:
#    print(animal)
Animaux = ["Giraffe","Tigre","Singe","Souris"]
for i,animal in enumerate(Animaux,1): # on utilise Enumerate pour la liste
   print(i,animal)

1 Giraffe
2 Tigre
3 Singe
4 Souris

#### Ecrire un programme en python qui affiche le nom de 10 villages du Mali avec un numero de chaque village le programme doit d'abord creer une variable en utlisant la boucle for.

In [2]:
village = ["Diougounte","Sefeto","Mansala","Lakamane","Tassara","san","Tounma","Karata","Yoi","Bos"]
for i,mo in enumerate(village,1):
    print(i,mo)

1 Diougounte
2 Sefeto
3 Mansala
4 Lakamane
5 Tassara
6 san
7 Tounma
8 Karata
9 Yoi
10 Bos

# Le dictionnaire:

In [5]:
etudiant = {"nom :":"Magassa","prenom :":"Makan","note :":18}
for cle, valeur in etudiant.items(): # On utilise items pour le dictionnaire.
    print(cle,valeur)

nom : Magassa
prenom : Makan
note : 18

#### Ecrire un prog en python qui permet d'afficher la table de multiplication par 7 en utilisant la boucle while.

In [1]:
i = 7
j = 1
while j<=10:
    print(f"{i} X {j} = {i*j} ")
    j+=1

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [6]:
for i in range(1,5):
    for j in range(2,4):
        print(f"{i} X {j} = {i*j}")
    print("Suivant.......")

1 X 2 = 2
1 X 3 = 3
Suivant.......
2 X 2 = 4
2 X 3 = 6
Suivant.......
3 X 2 = 6
3 X 3 = 9
Suivant.......
4 X 2 = 8
4 X 3 = 12
Suivant.......

#### Ecrire 1 progra en python qui convertir de tonne en kilogra a partir de la fonction conversion et qui return la valeur

In [ ]:
def conver(X):
    X = int(input("Entrer le nombre au choix :"))
    p = X*1000
    
conver(4)
print(p)

# Fonction Random:

In [2]:
import random
p = random.randint(0,10)
print(p)

9

# Exception:

In [7]:
 a = int(input("Entrer la valeur A:"))
 b = int(input("Entrer la valeur B:"))
try:
    d = a/b
    print(d)
except:
    print("Erreur: Impossible de diviser par zero")

Entrer la valeur A: 34
Entrer la valeur B: 0

Erreur: Impossible de diviser par zero

# Cration de fichier

## Ecrire dans un fichier:

In [9]:
fichier = open("Saluation.txt","w")
fichier.write("Bonjour")
fichier.close()

## Ajouter le contenu dans un fichier:

In [ ]:
fichier = open("Saluation.txt","a")
fichier.write("Bonjour")
fichier.close()

## Lecture dans un fichier:

In [ ]:
fichier = open("Saluation.txt","r")
fichier.write("Bonjour")
fichier.close()